/*

Title: Resume Template

Author: Modi Chen

*/

/* Layout
------------------------------------------*/

.container {
	margin:0 auto;
	width: 88%;
	max-width: 1140px;  /*1140px*/
	font-family:'Josefin Sans', sans-serif; 
	font-weight: 300;
	font-size: 20px;
	line-height: 1.2;

}

section {
	float: left;
}

section#history {
  width: 100%;
}

a {
	color: black;
	text-decoration:none;
}

.portrait-photo {
	float: left;
	margin-top: -4em;
	margin-bottom: 2em;
}


.email-icon, .portfolio-icon, .phone-icon, .diploma-icon { 
	float: left;
	line-height: 1.4;
	font-size: 26px;

}



h1 {
    font-family: 'Montez', cursive;
	font-size: 120px;
	font-style: italic;

}
.info {
	float: left;
	display:flex;
	flex-direction:column;
	line-height: 2;
	}


.align-left {
	float: left;
	margin-right: .5em;
	width: 27%;
    height: auto;
}

.fontcolor {
	line-height: 1.4;
	color: #02d2ee;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 40px
}

	.skill-img {
		margin: 0 auto;
		width: 100%;
	}


/* Nav
------------------------------------------*/
nav {
	float: left;
	margin-left: -2em;
}

nav ul{
	margin-top: 1.7em;
	list-style: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	font-size: 47px;
	color: black;
	font-family: 'Montez', cursive;
	font-style: italic;
}



nav ul li a {
	margin-right: 3em;
}

.sticky {
	width:100%;
	background: white;
}

.sticky-fixed {
	position: fixed;
	top: 0;
	margin-top: 0;
}


/* Qualification
------------------------------------------*/
hr {
	border-style: dashed;
	border-color: #d7d7d7;
	width: 100%;
	margin: 0 auto;
}

.passage {
	font-size: 30px;
	
}

.title{
	margin-top: 2em;
	font-size: 40px;
}

.font-grey {
    	color: #959595;
    }

/* Portfolio
------------------------------------------*/
	.portfolio-photo {
		width: 450px;
	}

		figcaption {
		text-align: center;
		font-size: 20px;
	}


/* Media query
------------------------------------------*/

@media screen and (min-width: 600px) {

	header {
		margin-top: -4em;
	}

	h1 {
    font-family: 'Montez', cursive;
	font-size: 130px;
	font-style: italic;
    }


	.info {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	line-height: 2;
	width: 61%;
	margin-left: 3em;
	}

	.email-icon, .portfolio-icon, .phone-icon, .diploma-icon { 
	line-height: 1.4;
	font-family: Helvetica;
	width: 48%;
	font-size: 18px;
	 }

    
    .align-left {
	float: left;
	margin-right: .5em;
	width: 60px;
    }

    .fontcolor {
	line-height: 1.4;
	color: #02d2ee;
	font-weight: bold;
	font-size: 20px
    }

    .qualification-container, .history-container {
     
     margin-top: 10em;
    }

	.paragraph {
	 display: flex;
	}

    .title {
    	margin-top: 1.7em;
    	margin-right: 3em;
    	text-align: right;
    	float: right;
    	width: 40%;
    	font-size: 17px;
    }

    .passage {
    	float: right;
    	width: 40%;
    	font-size: 17px;
    	margin-bottom: 2em;
    }

    hr {
    	width: 70%;
    }

    .font-grey {
    	color: #959595;
    }
	
	.job-task {
		color: #959595;
		padding-bottom: 5px;
	}

	.aa, {
		display: flex;
	}

	figure {
		    display: block;
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 40px;

		
	}
	

	figcaption {
		text-align: center;
		font-size: 17px;
	}

	.portfolio-container {
		display: flex;
		flex-wrap: wrap;
		margin-top: 10em;
	}

	.portfolio-photo {
		width: 340px;
	}

	.skill-img {
		margin: 0 auto;
		width: 100%;
	}
    





}/*end of media screen


