/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #FFDCDA;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	margin:0;
}

a {
	color: white;
	text-decoration:none;
}

a:hover {
	color: #DDE4D2;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	padding-top: 1em;
	width:88%;
	max-width: 960px;
}

.wrapper {
	padding:1em 0;
	background: #ffffff;	
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 70px;
}

.align-right {
	float: right;
}

h2 {
	color: #656364;
}

/* Layout
------------------------------------------*/

nav ul{
	padding: 0;
	list-style: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

nav ul li{
	margin-right:1em;
}

nav ul li a {
	background: #F1A0C0;
	padding: .5em 1.7em;
	border-radius: 70px 0;
	transition: all 1s ease-in-out;
	box-shadow: 5px 5px 5px #B29B8B;
}

nav ul li a:hover {
	background: #DDE4D2;

}










